<ul>
  <% @posts.each do |post| %>
  <li>
    <p><a href="<%= post.url %>"><%= post.title %></a> by <%= post.user.username %></p>
  </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to 'Create New Post', new_post_path %>
<% end %>
